body{
  background-color:#EBEFF5;
  color:#303030;
  margin:0px;
  padding:0px;
  padding-top:64px;
}

header{
  background-color:#41799E;
  color:#EBEFF5;
  position:fixed;
  top:0px;
  height:64px;
  left:0px;
  right:0px;
}

nav{
  background-color:#41799E;
  color:#EBEFF5;
  max-width:1080px;
  margin:auto;
  padding:16px 0% 0px 0%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-end;
}

main{
  background-color:#EBEFF5;
  color:#303030;
  padding:0px 32px;
}

footer{
  background-color:#41799E;
  color:#EBEFF5;
  margin:0px;
  padding:16px 0px;
  text-align:center;
}

#navbar {
  font-weight:bold;
  flex:1;
  display:flex;
  align-items:flex-end;
}

#page-name{
  margin:0px;
  padding:0px 8px 0px 12px;
  font-size:42px;
}

#navbar-tab a,
#contact a {
  padding:8px 4px;
  font-size:16px;
  text-align:center;
  text-decoration:none;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  cursor:pointer;
  display:block;
}
#contact a {
  padding:0px;
}
#page-name a {
  text-decoration:none;
  background-color:#41799E;
  color:#EBEFF5;
}
#navbar-tab a, #contact a {
  background-color:#41799E;
  color:#EBEFF5;
}
#navbar-tab a:hover, #navbar-tab a:active,
#contact a:hover, #contact a:active{
  background-color:#FFFFFF;
  color:#41799E;
}
#navbar-tab .selected a,
#contact .selected a{
  background-color:#EBEFF5;
  color:#41799E;
}
#navbar-tab ul,
#contact ul{
  list-style-type:none;
  margin:0px 0px 0px 0px;
  padding:0;
}
#navbar-tab li,
#contact li{
  display:inline-block;
}

#contact{
  display:flex;
  align-items:flex-end;
  padding:0px 2px 0px 2px;
}
#contact img{
  background-color:#41799E;
  height:24px;
  border-radius:4px;
  border:none;
  margin:0px;
  padding:4px 8px 0px 2px;
}
#contact img:hover{
  background-color:#FFFFFF;
}

.page-header{
  background-color:#41799E;
  color:#EBEFF5;
  max-width:1080px;
  margin:0px auto;
  padding:0px;
}
.page-header h1{
  background-color:#EBEFF5;
  color:#41799E;
  margin:0px;
  padding:24px 0px;
  font-size:64px;
  font-weight:bold;
}

.page-block{
  background-color:#FFFFFF;
  color:#373737;
  max-width:1080px;
  border-radius:0px;
  margin:0px auto 20px auto;
  padding:30px 20px;
}
.page-block h2{
  color:#555555;
  margin:0px;
  padding:10px 60px;
}
.page-block h3{
  color:#555555;
  margin:0px;
  padding:0px 60px;
}
.page-block .info{
  margin:0px;
  padding:0px 60px 20px 60px;
}
.page-block p{
  margin:0px;
  padding:10px 60px;
  text-align:justify;
}
.page-block ul{
  list-style-type:circle;
  margin:0px;
  padding:10px 80px;
  text-align:justify;
}
.page-block ol{
  list-style-type:decimal;
  margin:0px;
  padding:10px 80px;
  text-align:justify;
}
.page-block  a {
  text-decoration:none;
  color:#5385C1;  
}



@media screen and (max-width: 750px) {
  header{
	all: initial;
    background-color:#41799E;
    color:#EBEFF5;
  }
  body{
	padding-top:0px;
  }
  #page-name h1{
	color:#DAE1ED;
  }
  #navbar{
    display:block;
  }
  #navbar-tab ul,
  #contact ul{
    margin:0px 0px 0px 12px;
  }
  .page-block .info{
    padding:0px 20px 20px 20px;
  }
  .page-block h2,
  .page-block h3,
   .page-block p{
    padding:10px 20px;
  }
  .page-block ul,
  .page-block ol{
    padding:10px 40px;
  }
}
@media screen and (max-width: 595px) {
  body{
	padding-top:0px;
  }
  main{
    padding:0px 16px;
  }
  .page-block{
    padding:30px 10px;
  }
  .page-block .info{
    padding:0px 10px 20px 10px;
  }
  .page-block h2,
  .page-block h3,
   .page-block p{
    padding:10px 10px;
  }
  .page-block ul,
  .page-block ol{
    padding:10px 30px;
  }
  #navbar-tab li,
  #contact li{
    display:inline;
  } 
  #navbar-tab a, #contact a{
    text-align:left;
    color:#DAE1ED;
  }
  #navbar-tab a:hover, #navbar-tab a:active,
  #contact a:hover, #contact a:active{
	 background-color:#5893ba /*#303030*/ !important;
	 border-radius:0px;
  }
  #navbar-tab .selected a,
  #contact .selected a{
    background-color:#41799E /*#303030*/ !important;
    color:white !important;
  }
}